.page {
  height: 100vh;
}

.main {
  color: #282828;
  padding: 16px;
  overflow-y: scroll;
}

.stateList {
  display: flex;
  flex-wrap: wrap;
}

.stateLink {
  cursor: pointer;
  margin: 0.3em 0.6em;
  text-decoration: underline;
  font-size: 1.3em;
}
