.page {
  height: 100vh;
}

.main {
  padding: var(--padding-half);
  background: var(--bg-gray);
  overflow-y: scroll;
}

.stateList {
  display: flex;
  flex-wrap: wrap;
}

.state {
  margin: var(--padding-half);
}
