.main {
  padding: var(--padding) var(--padding) var(--padding-half);
  background: var(--bg-white);
}

.title {
  font-size: var(--size-title);
}

.subtitle {
  margin-top: var(--padding-half);
  display: flex;
  justify-content: space-between;
}

.link {
  margin: 0 1em 0 .5em;
  font-size: var(--size-link);
  color: var(--blue);
  text-decoration: underline;
}

.tabs {
  padding: 0 var(--padding);
  border-bottom: var(--border);
  background: var(--bg-white);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.tab {
  margin-top: var(--padding-half);
  margin-right: var(--padding-half);
  padding: var(--padding-qtr) var(--padding-half) var(--padding-qtr);
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  border-radius: var(--radius) var(--radius) 0 0;
  font-size: 14px;
}

.selected {
  position: relative;
  bottom: -1px;
  padding-bottom: calc(1px + var(--padding-qtr));
  background: var(--bg-gray);
  font-weight: bold;
}
