.main {
  position: relative;
  width: var(--mini-width);
  height: var(--mini-height);
  padding: var(--padding-half);
  border: var(--border);
  border-radius: var(--radius);
  background: var(--bg-white);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.titleBox {
  position: absolute;
  top: var(--padding-half);
  left: var(--padding-half);
}

.title {
  font-size: var(--size-state);
}

.subtitle {
  font-size: var(--size-state-sub);
}

.graph {
  height: var(--mini-graph);
  display: flex;
  align-items: flex-end;
}

.bar {
  width: var(--mini-bar);
  height: 100%;
  margin: 0 var(--mini-margin);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
