.main {
  position: relative;
  background: white;
  width: 140px;
  height: 126px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.titleBox {
  position: absolute;
  top: 8px;
  left: 8px;
}

.title {
  line-height: 20px;
  font-size: 18px;
}

.cases {
  color: var(--blue);
  font-size: 12px;
}

.curve {
  color: var(--blue);
  font-size: 12px;
}

.graph {
  height: 80px;
  display: flex;
  align-items: flex-end;
}

.caseBar {
  width: 4px;
  margin: 0 1px;
  background: var(--blue);
}
