:root {
  --bg-white: #ffffff;
  --bg-light-gray: #f7f7f7;
  --border: #ececec;
  --blue: #2240a4;
  --red: #ff3411;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

.positive {
  background: var(--blue);
}

.positiveText {
  color: var(--blue);
}

.death {
  background: var(--red);
}

.deathText {
  color: var(--red);
}
